In [1]:
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")

In [10]:
ticker = yf.Ticker("COCA34.SA") 
info = ticker.info

In [11]:
def get_data():
    return ticker.history(period="max", interval="1d")

In [12]:
historical_data = get_data()

In [36]:
historical_data.reset_index(inplace=True)

In [13]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3425 entries, 2011-07-25 00:00:00-03:00 to 2025-05-09 00:00:00-03:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3425 non-null   float64
 1   High          3425 non-null   float64
 2   Low           3425 non-null   float64
 3   Close         3425 non-null   float64
 4   Volume        3425 non-null   int64
 5   Dividends     3425 non-null   float64
 6   Stock Splits  3425 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 214.1 KB

In [5]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-04-10 00:00:00-04:00,70.190002,71.209999,68.980003,70.760002,22450200,0.0,0.0
2025-04-11 00:00:00-04:00,70.910004,71.849998,70.540001,71.430000,19988200,0.0,0.0
2025-04-14 00:00:00-04:00,71.300003,72.660004,70.930000,72.449997,13930200,0.0,0.0
2025-04-15 00:00:00-04:00,72.620003,72.629997,71.720001,71.860001,14965500,0.0,0.0
2025-04-16 00:00:00-04:00,72.360001,72.669998,71.389999,71.680000,15276200,0.0,0.0
2025-04-17 00:00:00-04:00,71.900002,73.430000,71.720001,73.000000,20746800,0.0,0.0
2025-04-21 00:00:00-04:00,73.379997,73.470001,71.820000,72.769997,16037200,0.0,0.0
2025-04-22 00:00:00-04:00,73.000000,74.379997,72.919998,73.900002,15613500,0.0,0.0
2025-04-23 00:00:00-04:00,73.290001,73.949997,72.379997,73.300003,16353900,0.0,0.0
2025-04-24 00:00:00-04:00,73.019997,73.430000,72.300003,72.519997,16893900,0.0,0.0
2025-04-25 00:00:00-04:00,72.650002,72.919998,71.129997,71.910004,16316000,0.0,0.0
2025-04-28 00:00:00-04:00,72.080002,72.260002,71.309998,71.790001,15997500,0.0,0.0
2025-04-29 00:00:00-04:00,71.190002,72.709999,70.279999,72.349998,16244100,0.0,0.0
2025-04-30 00:00:00-04:00,73.349998,73.480003,71.690002,72.550003,21074700,0.0,0.0
2025-05-01 00:00:00-04:00,72.000000,72.040001,71.230003,71.290001,18034200,0.0,0.0
2025-05-02 00:00:00-04:00,71.500000,71.820000,71.099998,71.650002,12629600,0.0,0.0
2025-05-05 00:00:00-04:00,71.669998,71.800003,71.010002,71.699997,11932700,0.0,0.0
2025-05-06 00:00:00-04:00,71.680000,71.900002,71.160004,71.720001,12705500,0.0,0.0
2025-05-07 00:00:00-04:00,71.720001,72.690002,71.669998,72.400002,15025800,0.0,0.0
2025-05-08 00:00:00-04:00,72.199997,72.470001,71.129997,71.169998,14371100,0.0,0.0
2025-05-09 00:00:00-04:00,70.989998,71.149300,70.459999,70.519997,11044327,0.0,0.0